body {
    font-family: 'American Typewriter', sans-serif;
    background-color: LightGreen;
}

header {
    height: 55px;

    background-color: MediumSeaGreen;

    border: 2px solid DarkCyan;
    border-radius: 15px;
}

nav {
    display: inline-block;
    vertical-align: top;
}

.header-link {
    text-decoration: none;
    font-size: 24px;
    line-height: 2;
    font-weight: 600;
    color: Black;

    padding: 10px;
    margin: 15px;
}

#logo {
    vertical-align: top;
    float: right;

    width: 47px;
    height: 47px;

    padding: 4px;

    border-radius: 15px;
}

canvas {
    touch-action: pinch-zoom;

    background-color: White;
    margin: 15px;
}